*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body,
html {
    min-height: 100vh;
    width: 100vw;
    color: white;
    background-image: url(./img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

@font-face {
    font-family: 'FingerPaint';
    src: url('./FingerPaint-Regular.ttf') format('TrueType');
}


#content {
    height: 100vh;

}

.Nav-bar {
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
    gap: 8vw;
    font-size: 1.4rem;
    font-weight: bolder;


}

.Nav-bar button {
    padding: 5px 25px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: inset 0 -22px 16.5px -20px #8b8a84;
    -moz-box-shadow: inset 0 -22px 16.5px -20px #8b8a84;
    box-shadow: inset 0 -22px 16.5px -20px #8b8a84;
    border-radius: 20%/50%;

    background-image: url(./img/text.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.Nav-bar button:hover {
    transform: scale(1.3);
    -webkit-box-shadow: inset 0 -18px 16.5px -20px #8b8a84;
    -moz-box-shadow: inset 0 -18px 16.5px -20px #8b8a84;
    box-shadow: inset 0 -18px 16.5px -20px #8b8a84;


}

.Nav-bar button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -webkit-box-shadow: inset 0 -22px 16.5px -20px #8b8a84;
    -moz-box-shadow: inset 0 -22px 16.5px -20px #8b8a84;
    box-shadow: inset 0 -22px 16.5px -20px #8b8a84;


}

.Nav-bar :nth-child(3) {
    margin-right: 50px;
}

.Home {
    padding-left: 5vw;
    padding-top: 5vh;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-areas: "logo Name" "logo Type";
}

.Home .logo {
    grid-area: logo;
    border-radius: 50px;
    width: 200px;
}

.Home .logo img {
    border-radius: 50%;
}

.Home .Name {
    white-space: nowrap;
    font-family: "FingerPaint";
    margin-left: 40px;
    grid-area: Name;
    font-size: 4rem;
    font-weight: bolder;
    background-image: url(./img/text.jpg);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.Home .Type {
    margin-left: 40px;
    grid-area: Type;
    font-family: "FingerPaint";
    font-size: 3rem;
    font-weight: bolder;
    background-image: url(./img/text.jpg);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.Home .about {
    padding-top: 50px;
    font-size: 1.5rem;


}

.Menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item1 ." "title1 item2 " "item3 title2" "title3 item4 " ". title4";
    color: black;
    font-family: "FingerPaint";
    font-size: 1.4rem;
    font-weight: bolder;
    color: rgb(1, 110, 1);
    max-width: 700px;
    margin: 100px auto;
    backdrop-filter: blur(20px);
    padding: 20px;
}


.Menu img {
    width: 220px;
}

.Menu :nth-child(1) {
    grid-area: item1;
    align-self: end;
    justify-self: center;
}

.Menu :nth-child(2) {
    grid-area: title1;
    text-align: center;
}

.Menu :nth-child(3) {
    grid-area: item2;
    align-self: end;
    justify-self: center;
}

.Menu :nth-child(4) {
    grid-area: title2;
    text-align: center;
}

.Menu :nth-child(5) {
    grid-area: item3;
    align-self: end;
    justify-self: center;
}

.Menu :nth-child(6) {
    grid-area: title3;
    text-align: center;
}

.Menu :nth-child(7) {
    grid-area: item4;
    align-self: end;
    justify-self: center;
}

.Menu :nth-child(8) {
    grid-area: title4;
    text-align: center;
}



@media only screen and (max-width: 800px) {

    body,
    html {
        background-image: url(./img/rsz_background.jpg);
        background-size: contain;
        background-position: bottom;
    }

    .Nav-bar :nth-child(3) {
        margin-right: 0px;
    }

    .Home {
        padding-top: 40px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Home .Name {
        margin-left: 0px;
        font-size: 2rem;
        padding-top: 40px;
    }

    .Home .Type {
        margin-left: 0px;
        font-size: 1.8rem;
    }

    .Home .about {
        font-size: 1.2rem;
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .Nav-bar {
        font-size: 1.2rem;
        justify-content: space-around;
    }

    .Nav-bar button {
        padding: 5px 10px;
        transform: scale(1.15);
    }

    .Menu {
        width: 70vw;
        height: 100vh;
        font-size: 1.5rem;
    }

    .Menu img {
        width: 200px;
    }

}